* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    background-color: whitesmoke;
}

.container {
    margin: 1.5em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;    
}

h1:hover {
    animation: border-movement 2s ease-in-out infinite alternate;
}

@keyframes border-movement {
    0% {
        color: rgb(86, 157, 86);
        text-shadow: rgb(124, 209, 124) 1px 1px 40px;
    }

    33% {
        transform: translateX(-20%);
        color: rgb(197, 197, 53)
    }

    66% {
        color: rgb(135, 165, 228);
        text-shadow: rgb(146, 146, 250) 1px 1px 40px;
    }

    100% {
        transform: translateX(20%);
        color: rgb(241, 101, 101)
    }
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 2.5em 0
}

select, button, input {
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    background-color: white;
    cursor: pointer;
    background-color: whitesmoke;

}

#colour-pick {
    width: 3em;
    height: 3em;
    padding: 0.2em
}

select:hover, button:hover, input:hover {
    color: rgb(83, 121, 125)
}

#mode-pick:hover {
    transform: scale(110%);
    text-shadow: 0px 0px 40px #a7bdc5;
    transition: all 0.3s ease-in-out
}

#submit-btn:hover {
    transform: scale(110%);
    text-shadow: 0px 0px 40px #a7bdc5;
    transition: all 0.3s ease-in-out
}

#colours {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1em
}

.colour-img {
    height: 60vh;
    width: 15vw;
}

h3 {
    text-align: center;
}