* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

.container {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1em;
}

select, button, input {
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    background-color: white;
    cursor: pointer;
}

select:hover, button:hover, input:hover {
    color: rgb(83, 121, 125)
}

#colours {
    display: flex;
    justify-content: space-between;
    width: 100%
}

.colour-img {
    height: 80vh;
    width: 15vw;
}

h3 {
    text-align: center;
}